/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */

 /* wszystkie linki */
a:hover
{
    color: #ffc903 !important;
}

 /* caly header */
 #header{ background: #bbb !important; }

 /* koszyk na gorze */
#header .header-nav .blockcart {
 
    background-color: #bbb !important;
    color: #232323;
}

.dropdown-item:hover
{
    color: #ffc903 !important;
}
 /* Subscirbe */
.block_newsletter form .row .col-xs-12:first-of-type .btn-primary:first-of-type {
    margin-left: 0.5rem;
    background-color: #ffc903 !important;
    color: black !important;
}
/*cena*/
.current-price-value
{
     color: #ffc903 !important;
}
/*OPIS PRODUKTU*/
.nav-link js-product-nav-active active
{
    color: #ffc903 !important;
}
.nav-item
{color: #ffc903 !important;
    
}
 /* Dodaj do koszyka */
.btn-primary, .btn-secondary, .btn-tertiary {
    padding: 0.5rem 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: #ffc903 !important;
    color: black !important;
}

.btn-primary, .btn-secondary, .btn-tertiary :hover{
    cursor: pointer;
    background-color: #ffc903 !important;
    color: #222 !important;
}

/*Realizacja zmowienia*/
.btn-primary:hover
{
    color: #222 !important;
}
.btn:hover
{
    color: #222 !important;
}
.price
{
    color: #ffc903 !important;
}